.content{
display: block; padding:0;box-sizing: border-box;    height: 100%;    border: dashed 15px red;
}
.wrapper{
display: block; padding:0;box-sizing: border-box;    height:100%;    border: dashed 15px red;
}