<div style="height:100%;min-height:100%;display:block;overflow:hidden">
 <div *ngIf="showLoadErrorMessage" class="error-message">
    Failed to load employees. Please try again later.
  </div>
	<app-org-hierarchy-tree   *ngIf="!showLoadErrorMessage" style="height:100%;display:block;overflow:hidden"
		[myNodes]="rawData"
		(nodeClick)="handleNodeClick2($event)"
		[loadChildrenRequest]="ensureChildrenRaw.bind(this)"
		  [getTargetsForSearch]="getTargetsForSearch.bind(this)"
		    [memoryIndex]="memoryIndex"
		[updateTrigger]="updateTreeTrigger"
[objectCache]="objectCache"
[tzIndex]="tzIndex"
[emailIndex]="emailIndex"
[phoneIndex]="phoneIndex"
		>
    </app-org-hierarchy-tree>
	
	
</div>