<div style="height:100%;min-height:100%;display:block;overflow:hidden">
ddddd
	
	<app-org-hierarchy-tree   style="height:100%;display:block;overflow:hidden"
		[myNodes]="rawData"
		(nodeClick)="handleNodeClick2($event)"
		[loadChildrenRequest]="ensureChildrenRaw.bind(this)"
		  [getTargetsForSearch]="getTargetsForSearch.bind(this)"
		    [memoryIndex]="memoryIndex"
		[updateTrigger]="updateTreeTrigger"
[objectCache]="objectCache"
[tzIndex]="tzIndex"
[emailIndex]="emailIndex"
[phoneIndex]="phoneIndex"
		>
    </app-org-hierarchy-tree>
	
	
</div>