.wrapper {
  ///display: flex;
  flex-direction: column;
  //min-height: 100vh;
}

.wrapper > * {
  padding: 20px;
}

.page-header {
  background: #592E83;
}

.page-main {
height:100%;
  flex-grow: 1;
  background: #331E4D;
}

.page-footer {
  background: #9984D4;
}
.content{
  box-sizing: border-box;
}